<strong>Olá, {{ student }}</strong>
<p>Seja bem-vindo à GymPoint!</p>

<p>Segue abaixo detalhes do seu plano:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Valor: </strong> {{ price }} <br />
  <strong>Início: </strong> {{ start_date }} <br />
  <strong>Termino: </strong> {{ end_date }} <br />
</p>

